.dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 24px;
  }


.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
